.components-head{
  width: 100%;
  height:50px;
  border-bottom: 1px solid gainsboro;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
}
.components-head input{
  height: 80%;
  border-radius: 10px;
  background: gainsboro;
  margin: 10px;
}
.components-head p{
  margin: 10px;
}
